body {
    font-family: "open sans";
}

h2 {
    margin-top: -5px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 240px;
    padding: 20px;
    background-color: rgb(146, 144, 146);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
}